@{
    ViewData["Title"] = "Home Page";
}

<!-- Incluye el enlace a tu archivo de estilos -->
<link rel="stylesheet" href="~/css/site.css">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<<div style="text-align: left;">
    <h1 class="display-4" style="margin-left: 30px;">Bienvenidos</h1>
</div>
